body {
  background-attachment: fixed;
  background-size:cover;
  background-image: linear-gradient(to bottom, #b2b9bf, #3F5160);
}

.banner {
	background-color:white;
	display:flex;
	justify-content: space-between;
	margin: auto;
	padding: 10px;
}
.banner img {
	width: 150px;
	height: auto;
}

.banner:hover img {
	opacity: 0.5;
}

.nameoverlay img {
	-webkit-mask-image:url("images/name.png");
	mask-image: url("images/name.png");
	mask-repeat: no-repeat;
}