body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #a8ae68, #edddbb, #f9caed);	
}

#nav-bar {
	background-color:white; 
	max-height:100px;
	display: flex;
	margin: auto;
	margin-top: 20px;
	border: 4px solid #ffecf5;
	border-radius: 20px;
	padding: 0px;	
	animation: glow 3s infinite alternate;
}

#nav-bar ul {
	list-style: none;
	padding: 0;
	gap: 100px;
	display: flex;
	background:radial-gradient(circle,#f9caed,white);
	
}
#nav-bar li {
	font-family: Garamond, serif;
	/**background-color: white;**/
	padding: 10px 15px;
}

#nav-bar ul li a {
	color: #f35594;
	padding: 15px 25px;
	display: block;
	text-decoration: none;
	transition: background 0.6s ease;
}

#nav-bar img {
	height: 100px;
	width: auto;
	object-fit: cover;
	border-radius: 20px;
}

#nav-bar img:first-child {
	float: left;
	margin-right:auto;
}

#nav-bar img:last-child {
	float: right;
	margin-left:auto;
}

#nav-bar ul li a:hover {
	background:radial-gradient(circle,white, rgba(0, 0, 0, 0.0));
}

#content {
	display: flex;
	width: 80%;
}

.side-bar {
	background-color: #f9caed;
	width: 200px;
	height: 580px;
	padding: 20px 30px;
}


#main-content {
	background-color: #f9caed;
	width: 75%;
	height: 580px;
	padding: 15px 25px;
	
}


@keyframes glow{
	0%{box-shadow: 0 0 10px #f9caed;}
	50%{box-shadow: 0 0 25px #f9caed;}
	100%{box-shadow: 0 0 10px #f9caed;}
}

/**
#main-content {
	height: 50%;
	width: 100%;
	padding: 15px;
	margin-right: 0;
	margin-left:0;
	background-image: linear-gradient(to bottom, white, #d4778a, #9a3d4c);	
}

.nameoverlay img {
	-webkit-mask-image:url(images/name.png);
	mask-image: url(images/name.png);
	mask-repeat: no-repeat;
	width: auto;
	height: auto;
}

@keyframes fade {
	0%{opacity: 1;}
	50%{opacity: 0.4;}
	100%{opacity: 1;}
}
**/